services:
  backend:
    build:
      context: .
    ports:
      - "8080:8080"
    depends_on:
      redis:
        condition: service_healthy
    volumes:
      - ./config.yaml:/app/config.yaml
      - ./app.log:/app/app.log

  redis:
    image: redis:8.4.0-alpine
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 5s
      timeout: 10s
      retries: 5
